@model TimeReportMvc.Models.ProjectModels.ProjectViewModel;

@{
    ViewData["Title"] = Model.Name;
}
<div>
    <h1>@Model.Customer.Name's project</h1>
</div>

<div>
    <h1>@Model.Id</h1>
    <hr/>
    <h1>@Model.Name</h1>
</div>

<a class="btn btn-success" asp-controller="Project" asp-action="ProjectEdit" asp-route-id="@Model.Id">Edit project</a>
<form method="post" asp-controller="Project" asp-action="ProjectDelete" asp-route-id="@Model.Id">
    <button class="btn btn-danger" type="submit">Delete project</button>
</form>