@model TimeReportMvc.Models.CustomerModels.CustomerViewModel

@{
    ViewData["Title"] = Model.Name;
}
<div>
    <h1>@Model.Id</h1>
    <h1>@Model.Name</h1>
</div>

@if (Model.Projects.Count > 0)
{
    <h1>Customer projects</h1>

    <ul>
        @foreach (var project in Model.Projects)
        {
            <li>
                @project.Name
            </li>
        }
    </ul>
}

<a class="btn btn-success" asp-controller="Customer" asp-action="CustomerEdit" asp-route-id="@Model.Id">Edit customer</a>
<form method="post" asp-controller="Customer" asp-action="CustomerDelete" asp-route-id="@Model.Id">
    <button class="btn btn-danger" type="submit">Delete customer</button>
</form>
@* <a class="btn btn-danger" asp-controller="Customer" asp-action="CustomerDelete" asp-route-id="@Model.Id">Delete customer</a> *@